*, *::after, *::before {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.main {
  background-color: #225;
  min-height: 100vh;
  padding: 20px 0px;
  width: 100%;
  color: #222;
  font-family: monospace, sans-serif;
  padding-top: 120px; }
  .main .wowic {
    position: absolute;
    left: 10px;
    top: 10px;
    -webkit-animation: animwow 5s infinite ease-in-out;
            animation: animwow 5s infinite ease-in-out; }
  .main__title {
    margin: 0;
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    color: #ffffff; }
  .main-form {
    background-color: aqua;
    max-width: 420px;
    margin: 0 auto;
    padding: 15px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center; }
    .main-form__int, .main-form__btn {
      background-color: #222222;
      color: #ffffff;
      border: none;
      padding: 7px 12px;
      font-family: monospace, serif;
      font-size: 18px;
      outline: none; }
      .main-form__int::-webkit-input-placeholder, .main-form__btn::-webkit-input-placeholder {
        color: #ffffff; }
      .main-form__int::-moz-placeholder, .main-form__btn::-moz-placeholder {
        color: #ffffff; }
      .main-form__int:-ms-input-placeholder, .main-form__btn:-ms-input-placeholder {
        color: #ffffff; }
      .main-form__int::-ms-input-placeholder, .main-form__btn::-ms-input-placeholder {
        color: #ffffff; }
      .main-form__int::placeholder, .main-form__btn::placeholder {
        color: #ffffff; }
    .main-form__btn {
      color: #222;
      background-color: indigo;
      color: #aaff88;
      cursor: pointer;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-left: 1px solid transparent; }
      .main-form__btn:hover {
        background-color: #222222;
        color: #fea100;
        border-left: 1px solid aqua; }
  .main-block {
    background-color: #222;
    max-width: 380px;
    margin: 0 auto;
    text-align: center;
    padding: 25px;
    color: #ffffff;
    position: relative; }
    .main-block span {
      margin-left: 5px;
      text-decoration: underline;
      font-size: bold;
      color: #fea100; }
    .main-block > div {
      margin-bottom: 15px; }
      .main-block > div:last-child {
        margin-bottom: 0; }

@-webkit-keyframes animwow {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

@keyframes animwow {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

@media (max-width: 480px) {
  .main {
    padding-top: 80px; }
    .main__title {
      font-size: 32px; }
    .main-form {
      max-width: 300px; }
      .main-form__int, .main-form__btn {
        font-size: 15px;
        padding: 5px 10px; }
    .main-block {
      max-width: 300px;
      font-size: 15px; } }
